body {
  padding-top: 81px;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar {
  background-image: url("bg-carbon.jpg");
  height: 81px;
}

.navbar-nav li{
  /*float: left;
  width: 9em;
  text-align: center;
  height: 81px;
  margin: 0;
  color: white;
  padding: 0 0 0 0;
  border-left: 1px dotted #666;*/
  text-align: center;
  width: 9em;
}

.navbar-nav li a:link, .navbar-nav li a:visited{
  display: block;
  line-height: 56px;
  padding: 0 0 0 0;
  color: #e5eddc;
  font-family: Lucida Grande, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

.canoe_back {
  background-image: url('pueo-canoes-front.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
}

.tagline_bar {
  background-color: black;
  height: 131px;
  padding: 1em 0 0 0;
}

.tagline_bar h2 {
  font-family: Georgia;
  font-size: 3em;
  color: #666;
  text-align: center;
  font-weight: 700;
  margin: 0px;
  padding-top: 30px
}
